@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>e4 Contacts</h1>
    <p class="lead">
        I developed e4 Contacts as a dev test using:<br />
        <ul>
            <li>.net MVC</li>
            <li>Json based controller methods</li>
            <li>XML database</li>
            <li>Jquery as script management</li>
        </ul>
        <br />
        It was exciting to do some development on XML again, after some years, and it proved somewhat dufficult remembering all the requirements, but got it done.<br />
        You will find the XML data <a target="_blank" href="/XMLFile/XMLFile1.xml">here to review</a>
        I thought it best to make a no-postbacks web environment, which required some ajax calls via Jquery. All items are based on one page.<br /><br />
        Please visit the page below:
    </p>
    <p><a href="/home/contact" class="btn btn-primary btn-lg">e4 Contacts</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My history</h2>
        <p>
            I started development in 1997 at a company called Business Connexion. In those days we used Window based applications mostly and just started with internet sites using VB.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My best projects</h2>
        <p>I used to be a very keen young developer and enjoyed some flash development. Also wrote the Brittish Airways booking system in Coldfusion working for a company named Amorphous.<br />
        My most favorite dev job was working as lead tech developing a GIS based system using a lot of Google Maps API's. It was used to manage the traffic systems by communication with traffic lights systems.</p>
    </div>
    <div class="col-md-4">
        <h2>What I enjoy now</h2>
        <p>I still enjoy javascript very much, especially now with all the new frameworks evolving. Also enjoy the MVC concept and I am a big fan of SQL, after having worked with DB2 and Oracle.</p>
    </div>
</div>